<div id="tomsoclivechatChatsWindow">
</div>
<div id="tomsoclivechatFriendsWindow">
    <div class="tomsoclivechatFriendsHolder" data-window-state="0" data-identifier="-1" data-parameter-window-id="-1">
        <div class="tomsoclivechatFriendsHeader" data-event="close-friends-window" data-parameter-window-id="-1">
        	<span class="chatMemberList">Member List</span>
            <span class="tomsoclivechatFriendsEvents">
            	<i data-location="tomsoclivechat-event-size--1" data-event="close-friends-window" data-parameter-window-id="-1" class="minus">&minus;</i>
            </span>
        </div>
        <div class="tomsoclivechatFriendsFilter">
        	<span class="RefreshMembersList" title="Refresh" data-event="refresh_friends"></span>
            <span class="LoadMembersOnline" title="Members online" data-event="online_friends"></span>
            <span class="LoadOnlyFriendsOnline" title="Friends online" data-event="bp_online_friends"></span>
            <span class="LoadGroupList" title="Group List" data-event="bp_group_list"></span>
        </div>
        <div class="tomsoclivechatFriendsBody">
            <center style="padding-top: 10px">
                <img id="loadingBar" />
            </center>
        </div>
        
        <div class="tomsoclivechatFriendsFooter">
            <input type="text" id="tomsoclivechatSearchFriends" placeholder="Search friends" />
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="tomsoclivechatFriendsTitle" data-event="open-friends-window">
        <span class="chatIcon" data-event="open-friends-window"></span><span class="chat-member">Members (<b class="tomsoclivechatFriendsCount">0</b>)</span><span class="listOpenIcon">&and;</span>
    </div>
</div>
