<div id="tomsoclivechat-smiley">
	<div id="smiley_wrap">
        <div id="smiley_nav">
            <span class="smiley_prev" data-event="smiley_prev">&lsaquo;</span>
            <span class="smiley_next" data-event="smiley_next">&rsaquo;</span>
            <span class="smiley_close" data-event="smiley_close">&times;</span>
        </div>
        <ul>
            <li>
                <span data-event="insert_smiley" class="bpc-smiley01"></span>
                <span data-event="insert_smiley" class="bpc-smiley02"></span>
                <span data-event="insert_smiley" class="bpc-smiley03"></span>
                <span data-event="insert_smiley" class="bpc-smiley04"></span>
                <span data-event="insert_smiley" class="bpc-smiley05"></span>
                <span data-event="insert_smiley" class="bpc-smiley06"></span>
                <span data-event="insert_smiley" class="bpc-smiley07"></span>
                <span data-event="insert_smiley" class="bpc-smiley08"></span>
                <span data-event="insert_smiley" class="bpc-smiley09"></span>
                <span data-event="insert_smiley" class="bpc-smiley10"></span>
                <span data-event="insert_smiley" class="bpc-smiley11"></span>
                <span data-event="insert_smiley" class="bpc-smiley12"></span>
                <span data-event="insert_smiley" class="bpc-smiley13"></span>
                <span data-event="insert_smiley" class="bpc-smiley14"></span>
                <span data-event="insert_smiley" class="bpc-smiley15"></span>
                <span data-event="insert_smiley" class="bpc-smiley16"></span>
                <span data-event="insert_smiley" class="bpc-smiley17"></span>
                <span data-event="insert_smiley" class="bpc-smiley18"></span>
                <span data-event="insert_smiley" class="bpc-smiley19"></span>
                <span data-event="insert_smiley" class="bpc-smiley20"></span>
                <span data-event="insert_smiley" class="bpc-smiley21"></span>
                <span data-event="insert_smiley" class="bpc-smiley22"></span>
                <span data-event="insert_smiley" class="bpc-smiley23"></span>
                <span data-event="insert_smiley" class="bpc-smiley24"></span>
                <span data-event="insert_smiley" class="bpc-smiley25"></span>
                <span data-event="insert_smiley" class="bpc-smiley26"></span>
                <span data-event="insert_smiley" class="bpc-smiley27"></span>
                <span data-event="insert_smiley" class="bpc-smiley28"></span>
                <span data-event="insert_smiley" class="bpc-smiley29"></span>
                <span data-event="insert_smiley" class="bpc-smiley30"></span>
            </li>
            <li>
                <span data-event="insert_smiley" class="bpc-smiley31"></span>
                <span data-event="insert_smiley" class="bpc-smiley32"></span>
                <span data-event="insert_smiley" class="bpc-smiley33"></span>
                <span data-event="insert_smiley" class="bpc-smiley34"></span>
                <span data-event="insert_smiley" class="bpc-smiley35"></span>
                <span data-event="insert_smiley" class="bpc-smiley36"></span>
                <span data-event="insert_smiley" class="bpc-smiley37"></span>
                <span data-event="insert_smiley" class="bpc-smiley38"></span>
                <span data-event="insert_smiley" class="bpc-smiley39"></span>
                <span data-event="insert_smiley" class="bpc-smiley40"></span>
                <span data-event="insert_smiley" class="bpc-smiley41"></span>
                <span data-event="insert_smiley" class="bpc-smiley42"></span>
                <span data-event="insert_smiley" class="bpc-smiley43"></span>
                <span data-event="insert_smiley" class="bpc-smiley44"></span>
                <span data-event="insert_smiley" class="bpc-smiley45"></span>
                <span data-event="insert_smiley" class="bpc-smiley46"></span>
                <span data-event="insert_smiley" class="bpc-smiley47"></span>
                <span data-event="insert_smiley" class="bpc-smiley48"></span>
                <span data-event="insert_smiley" class="bpc-smiley49"></span>
                <span data-event="insert_smiley" class="bpc-smiley50"></span>
                <span data-event="insert_smiley" class="bpc-smiley51"></span>
                <span data-event="insert_smiley" class="bpc-smiley52"></span>
                <span data-event="insert_smiley" class="bpc-smiley53"></span>
                <span data-event="insert_smiley" class="bpc-smiley54"></span>
                <span data-event="insert_smiley" class="bpc-smiley55"></span>
                <span data-event="insert_smiley" class="bpc-smiley56"></span>
                <span data-event="insert_smiley" class="bpc-smiley57"></span>
                <span data-event="insert_smiley" class="bpc-smiley58"></span>
                <span data-event="insert_smiley" class="bpc-smiley59"></span>
                <span data-event="insert_smiley" class="bpc-smiley60"></span>
            </li>
        </ul> 
    </div> 
</div>
